header {
    min-height: 545px;
 background-image: url("images/bg.jpg");
 background-repeat: no-repeat;
 background-size: cover;
 color: #fff;
  }
  .headerbody{
    padding-top: 20px;

  }
  .headerbody h1{
    font-size: 45px;
    padding: 8px 0px;

  }
  .headerbody p{
   text-align: center;
   font-size: 15px;
  }
  .loginauthentication{
 margin-top: 50px;
 float: right;
  }
  .loginauthentication a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    padding: 10px 4px;
  }

  .contactpart_one, .contactpart_second, .contactpart_third{
    /* border:1px solid red; */
    padding: 1px 0px;
    min-height: 180px;
    text-align: center;
    box-shadow: 0 15px 10px #26306e;
  }
  .contactpart_one h1, .contactpart_second h1, .contactpart_third h1{
  padding: 10px 0px;
  font-size: 20px;
  }
  .contactinfo{
    margin-top: 170px;
  }
  footer{
    background-color: #26306e;
    padding: 20px 0px;
    text-align: center;
    color: #fff;
  }